{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'shared/css/output.css' %}" rel="stylesheet">
    {% block link %}{% endblock link %}
</head>
<body>
    <header class="h-32 flex justify-center bg-[#ffced5]">
        <img src="{% static 'cardapio/img/img-header.png' %}">
    </header>

    <section class="subheader bg-[#ffb2b3] h-16 flex flex-row justify-start items-center gap-x-8 px-4">          
      {% block subheader %}{% endblock subheader %}
    </section>

    <section class="main">
        {% block main %}{% endblock main %}
    </section>
</body>
</html>