{% load static %}
<link href="{% static 'shared/css/output.css' %}" rel="stylesheet">

<div class="fixed flex items-center justify-center z-5 w-full h-full bg-black/50">
  <div class="flex flex-col z-6 w-full h-full lg:w-3xl lg:h-5/6 lg:mx-32 lg:my-80 p-5 bg-white rounded-2xl">
    <!-- botão de fechar popup -->
    <!-- TODO: alterar para uma seta de voltar no layout mobile -->
    <div class="flex flex-row justify-end mb-2">
      <button onclick="closePopup()" class="cursor-pointer">
        <img class="h-7 w-7" src="{% static 'cardapio/img/x.svg' %}" alt="">
      </button>
    </div>

    <!-- conteúdo principal -->
    <div class="mx-5 flex flex-col overflow-y-auto">
      <h2 class="text-2xl font-bold">{{ instance.name }}</h2>
      <!-- detalhes de produto -->
      {% if type == 'product' %}

      <!-- detalhes de combo -->
      {% elif type == 'combo' %}

      <!-- lista de produtos inclusos -->
      <!-- imagem, nome, decrição e quantidade -->
      <h3 class="text-1xl font-bold">Produtos Inclusos:</h3>
      {% for combo_product in instance.included_product.all %}
      {% with product=combo_product.included_product %}
      <div class="flex flex-row">
        <img src="{{product.image}}" height="80px" width="80px" alt="image">
        {{product.name}} --- {{combo_product.quantity}}
        {{product.get_unit_type_display}}{{combo_product.quantity|pluralize}} <br>
        {{product.details}}
      </div>
      {% endwith %}
      {% endfor %}

      <!-- lista  de combos inclusos -->
      <!-- imagem, nome, descrição e quantidade -->
      <h3 class="text-1xl font-bold">Combos Inclusos:</h3>
      Outros combos que também estão inclusos neste combo: <br>
      {% for combo_combo in instance.included_combo.all %}
      {% with combo=combo_combo.included_combo %}
      <div class="flex flex-row">
        <img src="{{combo.image}}" height="80px" width="80px" alt="image">
        {{combo.name}} --- {{combo_combo.quantity}}x <br>
        {{combo.details}}
      </div>
      {% endwith %}
      {% endfor %}
      
      <!-- lisa de itens personalizáveis -->
      <!-- título, descrição, produtos -->
      <!-- mínimo de escolhas, máximo de escolhas, selecionado -->
      <h3 class="text-1xl font-bold">Itens Personalizáveis:</h3>
      {% for combo_choice in instance.included_choices.all %}
      <h4 class="text-xl font-bold">{{combo_choice.title}}</h4>
      <p>{{combo_choice.description}}</p>
      <ul>
        {% for product_choice in combo_choice.included_product.all %}
        {% with product=product_choice.included_product %}
          <input type="checkbox" id="{{combo_choice.id}}-{{product.id}}" 
          value="{{product.id}}" {% if product_choice.selected %}checked{% endif %}>
          <label for="{{combo_choice.id}}-{{product.id}}">{{product.name}}</label>
          <br>
        {% endwith %}
        {% endfor %}
      </ul>
      {% endfor %}

      <!-- TODO: replace this placeholder -->
      <h3 class="text-1xl font-bold">Opcionais:</h3>
      - [] Ketchup <br>
      - [] Maionese <br>
      - [] Geleia de Pimenta <br>


      {% else %}
      <p>Erro ao carregar popup</p>

      {% endif %}
    </div>
  </div>
</div>

<script>
  // TODO: replace this placeholder
  function closePopup() {
    window.location.href = "{% url 'cardapio:index' %}"
  }
</script>